#CommonNavbar a {
  text-decoration: none;
  color: var(--primary-color);
}
.logo {
  font-size: 28px;
  font-weight: bold;
  color: var(--primary-color);
}
#CommonNavbar {
  width: 100%;
  transition: all 300ms ease-in-out;
  position: fixed;
  height: 10vh;
  top: 0px;
  z-index: 10;
}
.lowerNav {
  display: flex;
  padding: 0px 5vw;
  background-color: white;
  gap: 15px;
  border-bottom: 1px solid gray;
  align-items: center;
}

.lowerNav > button a {
  color: var(--primary-color);
}
.lowerNav > button {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  outline: none;
  color: var(--primary-color);
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  font-weight: 500;
  cursor: pointer;
}

.lowerNav .searchbox {
  width: 40%;
  border: 1px solid #e5e7e8;
  display: flex;
  height: 6vh;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px 0px 10px;
  border-radius: 20px;
}
.lowerNav .searchbox input {
  height: 5vh;
  padding: 0%;
  margin: 0%;
  width: 80%;
  border: none;
  outline: none;
}

.lowerNav .searchbox a {
  background-color: var(--primary-color);
  color: white !important;
  border-radius: 50%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
}

.lowerNav p {
  margin-left: auto;
}

.upperNav {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0px 5vw;
  background-color: black;
}

.upperNav a {
  height: 100%;
  color: white !important;
  padding: 5px 0px;
}

.upperNav a.sector-active {
  border-bottom: 5px solid white !important;
}

.dropdown {
  position: fixed;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.576);
  height: 100vh;
  width: 100%;
  z-index: 9;
  display: flex;
}
.optionmenu * {
  margin: 0%;
  padding: 0%;
}
.emptyarea1 {
  width: 10vw;
}
.emptyarea2 {
  width: calc(90vw - 800px);
}
.optionmenu {
  width: 300px;
  background-color: #f5f5f5;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.optionmenu a,
.optionmenu p {
  text-decoration: none;
  color: black;
  padding: 8px 20px;
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}

.optionmenu a:hover,
.optionmenu p:hover {
  background-color: white;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.377);
  color: var(--primary-color);
}

.optionmenu h3 {
  padding: 10px 20px;
  font-weight: 500;
}

.courses-display {
  width: 500px;
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 10px;
  padding-top: 10vh;
}
.courses-display > p,
.courses-display > h1 {
  margin: 0px 10%;
  font-size: 20px;
}
.courses-display > p {
  padding: 5px 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(98, 98, 98);
}

.onenavbarcourse {
  display: flex;
  width: 80%;
  margin: 0px auto;
  text-decoration: none;
  gap: 10px;
}
.onenavbarcourse img {
  width: 70px;
  height: 50px;
  padding: 2px;
  border: 0.5px solid gray;
  border-radius: 3px;
}
.onenavbarcourse span * {
  margin: 1px 0px;
  color: black;
}

.onenavbarcourse span p {
  color: rgb(98, 98, 98);
}

footer a {
  text-decoration: none;
  color: black;
}
footer {
  padding: 20px 5vw;
  border: 0.5px solid #e5e7e8;
  margin-top: 20px;
}
.linksSection {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  border-bottom: 0.5px solid #e5e7e8;
  padding-bottom: 20px;
}

.linksSection > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.socialLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialLinks span {
  display: flex;
  gap: 10px;
}
.socialLinks span a {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  background-color: black;
  border-radius: 50%;
}
@media screen and (max-width: 300px) {
  .socialLinks {
    flex-direction: column;
    text-align: center;
  }
}

/* MOBILE NAVBAR */

.MobileNavbar {
  z-index: 10;
  background-color: white;
  position: fixed;
  top: 0;
  width: calc(100% - 20px);
  padding: 10px;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(209, 208, 208);
}

.MobileNavbar .logo {
  font-size: 26px;
}
.MobileNavbar svg {
  font-size: 18px;
  cursor: pointer;
}

.MobileNavbar a {
  text-decoration: none;
}
.level1 {
  width: 100%;
  position: relative;
  height: 94vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: calc(6vh + 21px);
  transition: all 300ms ease-in-out;
  background-color: white;
}

.level1 .sectors {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-bottom: 1px solid rgb(209, 208, 208);
}

.level1 .sectors a,
.level1 .categories a,
.level1 .categories p {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.level1 .categories p {
  width: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}
.level1 .categories * {
  margin: 0%;
}
.level1 .categories {
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding: 20px;
  border-bottom: 1px solid rgb(209, 208, 208);
}
.login-signin-box {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.501);
}
.login-signin-box .joininbtn {
  text-decoration: none;
  width: calc(90% - 60px);
  text-align: center;
  color: white;
  background-color: var(--primary-color);
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
}
.login-signin-box .loginbtn {
  text-decoration: none;
  width: calc(90% - 60px);
  background-color: white;
  color: var(--primary-color);
  padding: 9px 29px;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid var(--primary-color);
  text-align: center;
}
