.LearningNav {
  margin-top: 15vh;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
.LN-icons {
  display: none;
}
.module-nav span {
  margin-top: 5vh;
}
.module-nav p,
.module-nav h4 {
  margin: 0px;
  padding: 5px 0px;
  padding-left: 5px;
  border-left: 4px solid rgba(255, 255, 255, 0);
}
.module-nav a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
}
.module-nav {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  padding-left: 5vw;
  min-height: 85vh;
  width: 300px;
  gap: 20px;
}

.module-nav > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.module-nav > div > div {
  border-left: 4px solid white;
  padding: 5px 0px;
  padding-left: 2vw;
  display: flex;
  align-items: center;
  gap: 10px;
}

.module-nav h4:hover {
  border-left: 3px solid var(--primary-color);
  background-color: rgba(220, 220, 220, 0.429);
}

.module-nav > div > div.module-active {
  border-left: 3px solid var(--primary-color);
  background-color: rgba(220, 220, 220, 0.429);
}

.module-container {
  border: 1px solid black;
  width: calc(85% - 300px - 5vw);
  border-radius: 5px;
  padding: 0px 2%;
  min-height: 85vh;
  margin: 5% 0px;
  /* overflow-x: hidden;

  overflow-y: scroll; */
}
.add-options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.add-options a,
.add-options button {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: black;
  gap: 2px;
  cursor: pointer;
  border: 1px solid black;
  outline: none;
}

.add-options a {
  display: none;
  transform: translateX(100%);
  transition: all 200ms ease-in-out;
}
.add-options a.add-option-visible {
  display: flex;
  transform: translateX(0%);
}

.materialcontainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 5vh 0px;
}
.notes {
  word-wrap: break-word;
}
.onematerial span * {
  margin: 0%;
}
.onematerial {
  display: flex;
  background-color: rgb(222, 222, 222);
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

.onematerial a {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 2px;
  cursor: pointer;
  background-color: var(--primary-color);
  outline: none;
}
.notes-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(252, 240, 255);
  gap: 10px;
  padding: 20px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

.notes-heading button {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 2px;
  cursor: pointer;
  background-color: var(--primary-color);
  border: none;
  outline: none;
}

.messageBox {
  height: 80vh;
  overflow-y: auto; /* Ensure vertical scrolling */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 5vh 0px;
  padding-right: 2%;
}

.messageBox img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
}

.messageBox .onemessage * {
  margin: 0%;
}
.messageBox .onemessage p {
  color: gray;
}
.messageBox .onemessage h3 {
  font-weight: normal;
}
.messageBox .onemessage {
  max-width: 400px;
  display: flex;
  gap: 5px;
  padding: 15px;
  border-radius: 30px 30px 0px 30px;
  align-self: flex-end;
  background-color: #e0f7fa;
}

.userchat {
  align-self: flex-start !important;
  border-radius: 30px 30px 30px 0px !important;
  background-color: #f1f1f1 !important;
}

.messageSendBox {
  height: 40px;
  margin-right: 2%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1 !important;
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid rgb(63, 63, 63);
}

.messageSendBox:focus-within {
  border: 1px solid rgb(110, 110, 110);
}

#messageInput {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 10px;
  color: black;
}

#messageSendBox:focus ~ #sendButton svg path,
#messageSendBox:valid ~ #sendButton svg path {
  fill: #3c3c3c;
  stroke: white;
}

#sendButton {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

#sendButton svg {
  height: 18px;
  transition: all 0.3s;
}

#sendButton svg path {
  transition: all 0.3s;
}

#sendButton:hover svg path {
  fill: #3c3c3c;
  stroke: white;
}

@media screen and (max-width: 900px) {
  .LearningNav {
    margin-top: 8vh;
    padding-top: 5vh;
  }
  .module-nav {
    position: absolute;
    width: fit-content;
    width: 95%;
    z-index: 6;
    transition: all 300ms ease-in-out;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.404);
    top: 0;
    left: 0%;
    background-color: white;
  }
  .module-container {
    width: 90%;
    z-index: 5;
    border: none;
  }
  .LN-icons {
    display: inline-block;
    position: absolute;
    transition: all 200ms ease-in-out;
    top: 20px;
    z-index: 7;
  }
  .messageBox {
    height: 65vh;
  }
  span.LN-icons {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
  }
}
